<div class="jumbotron">
  <h1>Skyfonts Web to App Integration</h1>
</div>





<div class="panel panel-default">

  <div class="panel-heading">
    <h3 class="panel-title">SkyFonts has something to say</h3>
  </div>

  <div class="panel-body">
    Let's make sure our check function will work.
  </div>

  <div class="panel-footer">

		<button type="button" class="btn btn-default btn-lg" data-action="connect-to-socket">
  			<span class="glyphicon glyphicon-star" aria-hidden="true"></span> Sync Started
		</button>

    <button type="button" class="btn btn-default btn-lg" data-action="connect-to-socket">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Sync Complete
    </button>

    <button type="button" class="btn btn-default btn-lg" data-action="UserMismatch">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> User MisMatch
    </button>

  </div>

</div>